<div data-shrink="0" class="vega-flex">
  <vega-sidenav>
    <vega-sidenav-link icon="hb-menu" routerLink="home"
      >Company Name</vega-sidenav-link
    >
    <vega-sidenav-link icon="home" routerLink="home"
      >About Us</vega-sidenav-link
    >
    <vega-sidenav-group icon="serving-dome" label="Resources">
      <vega-sidenav-link routerLink="drinks">Drinks</vega-sidenav-link>
      <vega-sidenav-link routerLink="food">Food</vega-sidenav-link>
    </vega-sidenav-group>
    <vega-sidenav-link icon="settings-wrench" routerLink="support"
      >Support</vega-sidenav-link
    >
    <vega-sidenav-link icon="announcement" routerLink="contacts"
      >Contacts</vega-sidenav-link
    >
  </vega-sidenav>
</div>
